:root {
    --primary-color: #191970;
    --primary-contrast: #ffffff;

    --font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

main {
    width: 1200px;
    margin: 0 auto;
    padding-inline: 20px;
}


header {
    padding-inline: 20px;
    background: var(--primary-color);
}

nav {
    height: 48px;
    display: flex;
    gap: 50px;

    & .menu {
        display: flex;
        gap: 20px;
        margin: 0;

        & .logo img {
            height: 100%;
            width: auto;
        }

        & .menu-item {
            list-style: none;

            & .menu-link {
                display: block;
                color: var(--primary-contrast);
                text-decoration: none;
                padding: 14px 25px;
                border-bottom: 2px solid transparent;

                &:hover {
                    opacity: 0.8;
                    border-bottom: 2px solid var(--primary-contrast);
                }
            }
        }
    }
}

footer {
    margin-top: auto;
    padding: 20px;
    width: 100%;
    background: var(--primary-color);
    color: var(--primary-contrast);
}
